#chat_div {
	width: 100%;
	height: 200px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
 margin-top: 10px;
	visibility: visible;
	overflow-y: auto;
	word-wrap: break-word;
	position: relative;
}
/*Chat message bubble container*/
.chatMessage {
	margin-top: 6px;
}
.selfMessage {
	text-align: right;
}
/*All chat message bubbles*/
.chatMessage > div {
	display: inline-block;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	max-width: calc(100% - 60px);
	border: 1px solid rgba(145,145,145,0.8);
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.1);
	border-radius: 2px;
}
/*Self chat message bubbles*/
.selfMessage > div {
	background-color: rgba(178,229,255,0.6);
}
/*Remote chat message bubbles*/
.remoteMessage > div {
	background-color: rgba(226,226,226,0.6);
}
#chat_but {

	visibility: visible;
}
.shadow {
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
	width:100%;
}
